/* Peyton Gardner */
/* styles.css */

body {
    background-color: rgb(135, 207, 235);
    font-family: 'Arial', sans-serif;
    color: rgb(30, 30, 30);
    margin: 0;
}

h1 {
    text-align: center;
    margin: 0;
    margin-top: 20px;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: rgb(240, 248, 255);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-style: italic;
}

#toggle-menu-button {
    background-color: #9E58CC;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius:6px;
}

.button {
    visibility: hidden;
    background-color: #4287F5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius:6px;
}

#keybind-list {
    visibility: hidden;
    position: absolute;
}
