/* Peyton Gardner */
/* styles.css */

body {
    background-color: #87CFEB;
    font-family: 'Arial', sans-serif;
    color: rgb(30, 30, 30);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin: 10px 0 0;
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    margin: 0 0 10px;
    font-size: 1.8rem;
    color: #f0f8ff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-style: italic;
}

#menu {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 10;
}

#toggle-menu-button {
    background-color: #9E58CC;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#toggle-menu-button:hover {
    background-color: #8142A5;
}

.menu-button {
    visibility: hidden;
    background-color: #4287F5;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
}

#keybind-list {
    position: fixed;
    top: 20px;
    right: 20px;
    visibility: hidden;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#shape-menu {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
}

#cube-button {
    background-color: #4CAF50;
}

.shape-button {
    background-color: #D94E4E;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.shape-button:hover {
    background-color: #BA3A3A;
}

p {
    margin: 20px;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #toggle-menu-button,
    .shape-button {
        padding: 10px 15px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    #menu, #keybind-list {
        left: 10px;
        top: 10px;
        right: 10px;
    }

    #shape-menu {
        grid-template-columns: 1fr;
    }
}
